

.logo{
    padding: 3rem;
    max-width: 1200px;
    display: flex;
    gap: clamp(2rem, 8vw, 4remo);
}

button {
    background: transparent;
    border: 5px solid var(--button-color, black);
    border-radius: 1rem;
}

.button-one{
     --button-color: #333;
}

.button-one .line {
    transition:
        cx 300ms ease-in,
        rx 300ms ease-in,
        ry 300ms ease-in,
        x 300ms ease-in,
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms ease-in 300ms,
        width 0ms ease-in 300ms,
        fill 0ms 1000ms;
        ;
        transform-origin: center;
}

.button-one:hover .line {
    transition:
        cx 300ms ease-in,
        rx 300ms ease-in 300ms,
        ry 300ms ease-in 300ms,
        x 300ms ease-in,
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms ease-in 300ms,
        width 0ms ease-in 300ms,
        fill 0ms 10ms;
        ;

}

.button-one:hover :is(.circle_middle) {
    cx: 50;
 
}

.button-one:hover :is(.top) {
    y: 45;
    x: 27.5;
        
    
}

.button-one:hover :is(.bottom) {
    y: 45;
    x: 27.5;
    
}

.button-one:hover :is(.left){
    y: 17.5;
    x: 45;
}

.button-one:hover :is(.move_circle_one) {
    rx: 42;
    ry: 42;
    stroke:#333;
}

.button-one:hover :is(.move_circle_two) {
    rx: 37;
    ry: 37;
    stroke:#333;
}

.button-one:hover :is(.move_circle_three) {
    rx: 32;
    ry: 32;
    stroke:#333;
}

.button-one:hover :is(.move_circle_four) {
    rx: 27;
    ry: 27;
    stroke:#333;
}

.button-one:hover :is(.move_circle_five) {
    rx: 23;
    ry: 23;
    stroke:#333;
}

.button-one:hover :is(.move_circle_six) {
    rx: 20;
    ry: 20;
    stroke:#333;
}

.button-one:hover :is(.move_circle_seven) {
    rx: 17;
    ry: 17;
    stroke:#333;
}

.button-one:hover :is(.move_circle_eight) {
    rx: 15;
    ry: 15;
    stroke:#333;
}

.button-one:hover :is(.move_circle_nine) {
    rx: 13;
    ry: 13;
    stroke:#333;
}

.button-one:hover :is(.move_circle_ten) {
    rx: 11;
    ry: 11;
    stroke:#333;
}

.button-one:hover :is(.move_circle_eleven) {
    rx: 9;
    ry: 9;
    stroke:#333;
}

.button-one:hover :is(.move_circle_twelve) {
    rx: 7;
    ry: 7;
    stroke:#333;
}

.button-one:hover :is(.move_circle_thirteen) {
    rx: 17;
    ry: 17;
    stroke:#333;
}

.button-one:hover :is(.left){
    rotate: 90deg;
}

.button-one:hover :is(.top){
    rotate: 45deg;
}

.button-one:hover :is(.bottom){
    rotate: -45deg;
}

.button-one:hover :is(.top){
    width: 5;
}

.button-one:hover :is(.bottom){
    width: 5;
}

.button-one:hover :is(.middle, .left){
    opacity: 0;
}



/*----------------------  Button Two ---------------------------------------- */

.button-two {
 --button-color: #333;
}

.button-two .line{
    transition: stroke-dashoffset 0.75s,
    cx 300ms ease-in,
    cy 300ms ease-in;
}

.button-two:hover .line{
    stroke-dashoffset: 79.9;
}

.button-two:hover :is(.mouth_r, .mouth_l){
    stroke-dashoffset: 9.9;
}

.button-two:hover :is(.smile){
    stroke-dashoffset: 0.1;
}

/*----------------------  Button Three ---------------------------------------- */

.button-three {
    --button-color: #333;
    overflow: hidden;
   }

   .button-three .line {
    transition: 2s;
   stroke-dasharray: 65 10 70 5 70 10 50 10 80 5 1000;
   
   }

   .button-three:hover .line {
   stroke-dasharray: 65 10 70 5 70 10 50 10 80 5 1000;
   stroke-dashoffset: -500;
   
   }

   .button-three .edo {
    transition: translate 2s,
    rotate 300ms ease-in;
   }


   .button-three:hover .edo {
    transition: translate 2s;
    transform-origin: center;
    rotate:rotate 300ms ease-in 300ms;
   }

   .button-three:hover .edo {
    rotate: 180deg;
   }

   .button-three:hover .line {
    translate: 0px 0px;
    }



   

 






 
