

.logo{
    padding: 3rem;
    max-width: 1200px;
    display: flex;
    gap: clamp(2rem, 8vw, 4remo);
}
button {
    background: transparent;
    border: 5px solid var(--button-color, black);
    border-radius: 1rem;
}

.button-one{
     --button-color: #333;
}

.button-one .line {
    transition:
        cx 300ms ease-in,
        x 300ms ease-in,
        y 300ms ease-in 300ms,
        rotate 300ms ease-in,
        opacity 0ms ease-in 600ms,
        fill 0ms 1000ms;
        ;
        transform-origin: center;
}

.button-one:hover .line {
    transition:
        cx 300ms ease-in,
        x 300ms ease-in,
        y 300ms ease-in,
        rotate 300ms ease-in 300ms,
        opacity 0ms ease-in 600ms,
        fill 0ms 10ms;
        ;

}

.button-one:hover :is(.circle_middle) {
    cx: 50;
    fill:rgb(20, 137, 240);
}

.button-one:hover :is(.top) {
    y: 45;
    x: 27.5;
    
    
}

.button-one:hover :is(.bottom) {
    y: 45;
    x: 27.5;
    
}

.button-one:hover :is(.left){
    y: 17.5;
    x: 45;
}

.button-one:hover :is(.left){
    rotate: 90deg;
}

.button-one:hover :is(.top){
    rotate: 45deg;
}

.button-one:hover :is(.bottom){
    rotate: -45deg;
}



.button-one:hover :is(.middle, .left){
    opacity: 0;
}




.button-one[aria-expanded="true"] {
    x
}