.logo {
    padding: 3rem;
    max-width: 850px;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 3fr);
}

button {
    background: transparent;
    border: 5px solid var(--button-color, black);
    border-radius: 1rem;
}


.button-four {
    --button-color: #333;
    overflow: hidden;
    grid-column: 2;
}



.button-four .line_cap {
    transition: 1s;
    
}


.button-four:hover .line_cap{
    rotate: -45deg;
}


.button-four .line_cloud {
    transition: 1s;
    
}

.button-four .line_cloud{
    rotate: 90deg;
}



.button-four:hover .line_cloud{
    rotate: 0deg;
}

.button-four .circle_atomiz {
    transition: 1s;
    
}

.button-four .circle_atomiz{
    opacity: 0;
}

.button-four:hover .circle_atomiz{
    opacity: 1;
}




/*
.button-four:hover .line_cloud{
    animation: to_vape 1s forwards;
}

@keyframes to_vape{
    0%{ rotate: 180deg}
    100%{rotate: 0deg}
}

#padre {
    width: 300px;
    height: 300px;
  }
  
  #padre img {
    width: 100%;
    height:100%;
    object-fit: cover;
  }
*/


